<h2>Login</h2>
<form action="login" method="post">
	<h3>Email</h3>
	<input type="text" name="email" style="width: 50%;">
	<h3>Password</h3>
	<input type="password" name="password" style="width: 50%;">
	<br>
	<input type="submit" name="submit" value="Login" style="margin-top: 20px;">
</form>